<div>
    <a href="/notice/add_notice">Add new notice</a>
</div>
<% include ../partial_views/logout %>

<br>
    <div>
        <% if (items.length > 0) { %>
        <table>
            <thead>
                <tr>
                    <th style="width: 1%;text-align: center">ID</th>
                    <th style="width: 49%;text-align: center">Title</th>
                    <th style="width: 20%;text-align: center">Description</th>
                </tr>
            </thead>
            <tbody>
                <% items.forEach(function(item, index) { %>
                    <tr>
                        <td style="width: 1%;text-align: center"><%= item.id %></td>
                        <td style="width: 49%;text-align: center"><%= item.title %></td>
                        <td style="width: 20%;text-align: center"><%= item.description %></td>
                        <td solspan="2" style="width: 20%;text-align: center">
                            <a href="/notice/<%= item.id %>/edit">Edit</a>
                            <form mehtod="post" action="/notice/<%= item.id %>/delete">
                                <button class="submit" type="submit" name="submit">Delete</button>
                            </form>

                        </td>
                    </tr>
                <%}); %>
            </tbody>
        </table>
        <% }else{ %>
        <p>
            There are no records avaible
        </p>
        <% } %>
    </div>
<br>